
obj/Debug/librsvgdotnet.csproj.FileListAbsolute.txt

obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

obj/Release/DesignTimeResolveAssemblyReferencesInput.cache

obj/Release/librsvgdotnet.csproj.FileListAbsolute.txt
